// -----------------------------------------------------------------------------
// Este arquivo contém classes auxiliares CSS.
// -----------------------------------------------------------------------------

/**
 * Limpar os floats interiores
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Containers principais de conteúdo
 * 1. Faça o contêiner de largura total com uma largura máxima
 * 2. Centralize-o na viewport
 * 3. Deixe um pouco de espaço nas bordas, especialmente valiosas em telas pequenas
 */
.container {
  max-width: $max-width; /* 1 */
  margin: 0 auto;
  background: $branco;
 }

 .text-center {
   width: 80%;
   margin: 0 auto;
   text-align: center;
   margin: 30px 0;
   background: red;
 }