// -----------------------------------------------------------------------------
// Este arquivo contém todas as variáveis ​​Sass de todo o aplicativo.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font: 'Crimson Text', verdana, arial, serif, sans-serif !default;


/// @type Color
$preto: rgb(0, 0, 0) !default;

/// Pelicula transparente
$preto-alpha: rgba(0, 0, 0, .7) !default;

/// @type Color
$branco: rgb(235, 235, 235) !default;

/// @type Color
$cinza: rgb(57, 57, 57) !default;

/// @type Color
$cinza-claro: rgb(120, 120, 120) !default;

/// @type Color
$laranja: rgb(255, 153, 0) !default;



/// Container's maximum width
/// @type Length
$max-width: 1200px !default;


/// Breakpoints map
/// @prop {String} keys - Chaves são identificadores mapeados para um determinado comprimento
/// @prop {Map} values - Valores são pontos de interrupção reais expressos em pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// URL relativo ou absoluto em que todos os recursos são veiculados a partir de
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
